<div class="add-new-post-box">
  <h2>Create a new post:</h2>
    <form action="/r/<%=@category_title%>/new" method="post">
      Title: <input type="text" name="title">
      <select name="post_type">
      <option value="link">URL</option>
      <option value="body">Text</option>
      </select>
      Your post:<input type="text" name="post">
      <button type="submit">Submit</button>
    </form>
</div>


 <% @submissions.each_with_index do |submission, index| %>
 <% @category_title = Category.find(submission.category_id).title %>
 
 <% if submission.link %>
 <%   path = submission.link %>
 <% elsif submission.body %>
 <%   path = "/r/#{@category_title}/#{submission.id}/comments" %>
 <% else %>
 <%   path = "/index/" %>
 <% end %>

  <div class="post">
  <div class="title"><%=(index+1)%>.  <a href="<%=path%>"><%= submission.title %></a></div>

  <div class="info">
  
  <% points = (submission.up_votes - submission.down_votes) + submission.comments.length %> <%=points%> points | created at <%=submission.created_at%> | 
  <a href="/r/<%= @category_title %>/<%= submission.id %>/comments"><%=submission.comments.length %> COMMENTS</a> | 
  <a href="/r/<%= @category_title %>/<%= submission.id %>/edit">EDIT</a> | 
  <form action="/r/<%= @category_title %>/<%= submission.id %>/delete" method="post"><button type="submit">DELETE</button></form>
  </div>
  
  <div class="voting">  
    <form action="/r/<%= @category_title %>/<%= submission.id %>/up_vote" method="post">
      <button name="up_votes" type="submit" value=1>Up Vote</button>
    </form>

    <form action="/r/<%= @category_title %>/<%= submission.id %>/down_vote" method="post">
    <button name="down_votes" type="submit" value=1>Down Vote</button>
    </form>
  </div>
</div>

<% end %>
