


<div class="add-new-post-box">
    <form action="/r/<%=@category_title%>/<%= @submission_id%>/update" method="post">
      <input type="text" name="title" value="<%=@submission.title%>">
      <input type="text" name="author" value="<%=@submission.author%>">
      <select name="post_type">
      <option value="link">URL</option>
      <option value="body">Text</option>
      </select>
      <input type="text" name="post" value="<%=@submission.link%><%=@submission.body%>">
      <button type="submit">Update</button>
    </form>
</div>

