

 <% @submissions.each_with_index do |submission, index| %>

   <% @category_title = Category.find(submission.category_id).title %>
   <% points = ((submission.up_votes - submission.down_votes) + submission.comments.length) %> 

   
   <% if submission.link %>
   <%   path = submission.link %>
   <% elsif submission.body %>
   <%   path = "/r/#{@category_title}/#{submission.id}/comments" %>
   <% else %>
   <%   path = "/index/" %>
   <% end %>

  <div class="whole-post">
    
    <div class="index-number"><%=(index+1)%>.</div>
  
    <div class="voting">  
      <form action="/r/<%= @category_title %>/<%= submission.id %>/up_vote" method="post">
        <input type="image" src="/images/up-grey.png" name="up_votes" value=1 alt="Up-Vote">
      </form>
      <div class="score"><%=points%></div>
      <form action="/r/<%= @category_title %>/<%= submission.id %>/down_vote" method="post">
        <input type="image" src="/images/down-grey.png" name="down_votes" value=1 alt="Down-Vote">
      </form>
        </div>

    <div class="post">

        <div class="post-title">
        <a href="<%=path%>"><%= submission.title %></a> posted in <a href="/r/<%= @category_title %>/index"><%= @category_title %></a></div>


        <div class="post-info">
          <% hours_old = ((Time.now - submission.created_at) / 3600).round %>
          <div>submitted <%= hours_old %> hours ago by <%= submission.author %></div>
          <a href="/r/<%= @category_title %>/<%= submission.id %>/comments"><%=submission.comments.length %> comments</a> | 
          <a href="/r/<%= @category_title %>/<%= submission.id %>/edit">edit</a> | 
          <form class="inline" action="/r/<%= @category_title %>/<%= submission.id %>/delete" method="post"><button type="submit">delete</button></form>
        </div>

    </div>


</div>

<% end %>
